.search-span-width{
    width: 80%;
}
.search-input-disabled{
    color: #00CCBB;
}
#moduleBodyDiv{
    padding: 0px;
}

.clicked-tag{
    color: #3dbceb;background-color: #f6f7fb;
}

.order_info_span{
    font-size: 14px;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}