@charset "utf-8";
/* CSS Document */

body{background:#f6f6f6}/*内页整个背景*/

/*登录*/
.branding-top_color{background:#b52e31;}/*登录top条颜色*/
.branding-banner{ width:100%; background:url(../images/indexbg.jpg) no-repeat;}/*banner图片*/


.branding-banner_right{  background:#FFF;}/*登录白色背景框颜色*/
.branding-logintextcolor{ color:#3a3a3a;}/*登录系统文字颜色*/
.branding-loginline{ border-bottom:1px solid #efefef; !important}/*登录下划线*//*把原来得这条线样式删掉*/
.branding-login_text{ border:1px solid #eeeeee; background:url(../images/ico.jpg) no-repeat 20px center; color:#b1b2b3;}/*账号边框和图标/文字颜色*/
.branding-login_text02{ border:1px solid #eeeeee;  background:url(../images/ico2.jpg) no-repeat 20px center; color:#b1b2b3;}/*密码边框和图标/文字颜色*/

.branding-login_but{ background:#fd9b00;color:#FFFFFF;}/*登录按钮颜色*/

.branding-login-tetxtcolor{color:#b1b2b3 !important;}/*忘记密码文字颜色*/
.branding-login-tetxtcolor a:hover{ color:#b52e31 !important;}

.branding-copybgck{ background:#252525;}/*底部版权背景颜色*/
.branding-copytextcolor{ color:#FFF;}/*底部版权文字颜色*/

/*一级菜单*/

.branding-menuBgcolor{background:#272736}/*logo背景颜色*/
.branding-bordercolor{border-left:2px solid #3dbeed!important; background:#2e2e3e!important;}/*首页文字背景颜色*/
.branding-menuCollapseBgcolorl{ background:#39394d;}/*菜单背景颜色*/
.branding-menuCollapseBgcolorl a{ color:#ffffff;}/*一级菜单文字颜色*/
.branding-menuCollapseBgcolorl a:hover{ color:#ffffff;}/*一级菜单文字颜色*/
.branding-menuExpandBgback>a:before{background:#3dbeed;}/*菜单文字前面像素长条框颜色*/
.nav-show,.branding-menuExpandBgcolor>a:hover{background:#333345}/*一级菜单选中背景颜色*/

.branding-menuExpandBgcolor{ background:#2e2e3e;}/*二级菜单背景颜色*/
.branding-menuExpandBgcolor li:hover a{background:#292938}/*二级菜单鼠标滑上背景颜色*/
.branding-menuSelectedFont{color:#ffffff!important}/*二级菜单文字颜色*/
.branding-menuSelectedFont:hover{color:#3dbeed!important;}/*二级菜单文字颜色*/

/*右侧内容*/

.branding-header{ background:#ffffff;}/*文档顶部背景颜色*/
.branding-header a{ color:#737373;}/*文档顶部文字颜色*/
.branding-header a:hover{ color:#3dbeed;}/*文档顶部文字颜色*/


.branding-textcolor{ color:#3dbeed!important;}/*主色文字颜色*/
.branding-navigatorFont{ color:#737373;}/*当前显示路径文字颜色*/


.branding-mainBodyBgColor{ background:#f1f4f9}/*整个内容底下背景色*/
.branding-titleFont{ color:#3a3a3a}/*文字主标题颜色*/
.branding-titlefontcolor{ color:#737373!important;}/*文字二级标题颜色*/
.branding-subTitleFont{ color:#b1b2b4!important;}/*文字三级标题颜色*/
.branding-titleFontico{border-left: 3px solid #3dbeed;padding-left: 10px;height: 13px;float: left;margin-top: 3px; }/*文字主标题前面图标颜色*/
.branding-panelBgColor{background: #fff; box-shadow: 1px 1px 2px rgba(0,0,0,0.05);}/*内容区整个白色底色背景颜色*/

.branding-panelFrColor{ background:#f6f7fb!important;}/*内容里面浅色背景颜色和标题文字背景颜色*//*资源制作里面得图片信息dd标签里面得背景颜色删掉*/

.branding-Colorfont a{ color:#737373;}/*内容区文字颜色*/
.branding-Colorfont a:hover{ color:#3dbeed;}/*内容区文字鼠标滑上颜色**/

.branding-listTitleFont{ color:#3a3a3a!important;}/*列表一级标题颜色*/
.branding-listline{ border-bottom:1px solid #eceff8!important;}/*列表下划线颜色*/
.branding-listtextcolor{ color:#737373!important;}/*列表内容文字颜色*/
.branding-listlinetop{ border-top:1px solid #eceff8!important;}/*上划线颜色*/




/*内容二级菜单*/

.branding-subMenuBgcolor{ background:#ffffff;}/*菜单背景颜色*/
.branding-subMenuFont{ color:#3a3a3a}/*主题文字颜色*/
.branding-subMenuline{border-bottom:1px solid #eceff8}/*主题文字下划线*/

.branding-subMenuSelectdfont{color:#737373; background:none!important;}/*文字灰色*/
.branding-subMenuSelectdfont:hover{background:#f6f7fb!important; color:#737373;}/*文字滑上变色*/

.branding-text{ border-top: 2px solid; border-right: 2px solid; width:7px;height:7px; border-color:#cccccc; transform: rotate(45deg); float:right; margin-top:15px;}/*箭头颜色*/
.branding-text2{ border-top: 2px solid; border-right: 2px solid; width:7px;height:7px; border-color:#3dbeed; transform: rotate(45deg); float:right; margin-top:15px;}/*箭头滑上变色颜色*/



/*按钮颜色*/
.branding-frame-Button{background: #e9f6fe;color: #3dbeed;}/*浅色按钮背景*/
.branding-frame-Button_h{background: #daf1ff;color: #3dbeed;}/*浅色按钮鼠标滑上颜色背景*/

.branding-frame-Button-b{background: #3dbeed;color: #ffffff;}/*深色按钮背景*/
.branding-frame-Button-b_h{background: #27b2e4;color: #ffffff;}/*深色按钮鼠标滑上颜色背景*/

.branding-Button-line{border: 1px solid #3dbeed; color: #3dbeed;}/*边框深色按钮*/
.branding-Button-line_h{border: 1px solid #27b2e4; background:#e9f6fe; color: #3dbeed;}/*边框深色按钮鼠标滑上颜色*/

.branding-Button-line2{background: #f1f1f1;color: #b1b2b3; border: 1px solid #b1b2b3;}/*不可点击按钮*/





/*翻页颜色*/
.branding-page-back{ background:#f6f6f6;}/*箭头背景灰色颜色*/
.branding-page-back-b{ background:#3dbeed; color:#FFF;}/*翻页背景选中颜色*/
.branding-page-back-b2{ background:#e9f6fe; color:#b1b2b3;}/*翻页文字背景颜色*/

/*线框颜色*/
.branding-pro-line{border: 1px solid #3dbeed;}/*书本制作鼠标滑上边框颜色*/
.branding-search-box{border: 1px solid #cccccc;}/*灰色输入边框颜色*/

/* active menu */
.active .branding-menuSelectedFont {
  color: #3dbeed!important;
}
.top-menu ul li .active {
  background: #292938!important;
}
/*首页激活*/
.nav .accordion>li.active {
  border-left: 2px solid #3dbeed!important;
  background: #333345!important;
}
/*书本hover*/
.picture-hover:hover {
  border: 1px solid #3dbeed;
  cursor: pointer;
}
/*上传按钮*/
.main-w .webuploader-pick {
  background: #00b7ee;
  color: #fff;
}

.main-w .webuploader-pick-hover {
  background: #00a2d4;
}

/*加号*/
/*工单*/
.main-w .work-ico {
  background: #e9f6fe url(../images/ico13.png) no-repeat 13px center;
  color: #3dbeed;
}

.main-w .frame-Button-work:hover {
  background: #d5efff url(../images/ico13.png) no-repeat 13px center;
}

/*ISBN*/
#createBookFrom .isbn-btn {
  color: #3dbceb;
  border-color: #3dbceb;
}

/*向右箭头*/
.con-nav-cen ul li a:hover{  background:#f6f7fb url(../images/ico-r.png) no-repeat 93% center;width:100%; float:left; padding-left:6%; padding-right:6%; }
.con-nav-cen ul .active a{  background:#f6f7fb url(../images/ico-r.png) no-repeat 93% center;width:100%; float:left; padding-left:6%; padding-right:6%; color: #3dbceb;}


/*批量上传真人录音*/
#batchUploadAudioBtn span {
  background: #42bcef;padding: 8px 10px;color: #ffffff; float: left;
}

.main-w .pro-block-con dl dd{background: #f6f7fb;}
.main-w .circle-data{background: #F6F7FB;}
.main-w .dubble-toggle-btn{background: #F6F7FB;}
.main-w .frame-feedback .text-block-head tr  {
  background: #f6f7fb;
}
